<style>
table {
  font-size: 20px;
}
</style>

<h1 align="center">Bowling Scoring</h1>
<hr>
<div class="text-center" style="padding-top:50px">
  <% if @try.errors.any? %>
      <div class="alert alert-danger">
        <%= @try.errors.full_messages.first  %>
      </div>
    <% end %>
<% current_game.frames.each_with_index do |frame, idx| %>
<table class="table "   align="center" style="display:inline-table;width:60px;">
  <tr style="">
    <!-- <th >&nbsp;&nbsp;&nbsp;&nbsp;</th> -->
    <% frame.tries.each_with_index do |try,index| %>

    <td class ="active">
    <% if try.score == 10 #&& (try.position==1 || index >= 9)
      if idx < 9
        concat "&nbsp;&nbsp;&nbsp;".html_safe
      end
      concat "X"
    elsif try.score == 0
      concat "-"
    elsif (frame.tries.pluck(:score)[0..index].inject(:+) == 10 && try.position >= 2 ) #|| (index >= 9 && try.position == 3 && frame.tries.pluck(:score).last(2).inject(:+) == 10)
      concat "/"
    else
      # concat frame.tries.pluck(:score)[0..index].inspect
      concat try.score
    end %>
  </td>
    <% end %>
  </tr>
  <tr>
    <td colspan="3" align="right" > <%= frame.total %> </td>
  </tr>
</table>
<% end %>
<%if current_game.is_game_over? %>
<table class="table " align="center" style="display:inline-table;width:60px;padding-left:10px">
  <tr >
    <td class ="active">Total</td>
  </tr>
  <tr>
    <td colspan="3" align="right" class=""> <%= current_game.frames.last.total %> </td>
  </tr>
</table>
<% end %>


<%if !current_game.is_game_over? %>
  <%= form_for @try, :url => {:action => "update", :controller => "games"}, class: "" do |f| %>
  <div class="form-group " style="">
      <%= f.text_field :score, autofocus: true, class: "form-control" ,style:"width:400px;margin: 0 auto;"%>
  </div>
        <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
<% else %>
<p>
The game is over
<%= link_to "Start a new Game", games_initialize_game_path%>
</p>
<% end %>
</div>

<style>
table tr td:last-child {
  border-right: solid;
}
</style>
<!-- <script type="text/javascript">
  $("tr td:last").css("border-right", "solid");
</script> -->
